<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin-Orders</title>
  <link href="/CSS/nav.css" rel="stylesheet">
  <link href="/CSS/admin.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/icons/flower.ico"/>


</head>

<body class="center">
  <ul>
    <div action"home" method"post" class="navi">
      <li><a href="http://localhost:3000/">Home</a>
      <li><a href="http://localhost:3000/Admin/Orders">Orders</a>
      <li><a href="http://localhost:3000/Admin/Make_A_Post">Blog</a>
      <li><a href="http://localhost:3000/AdminPage">Inventory Mgmt</a>
      <li>
        <%if(locals.name){%>
        welcome <%=name %>
        <form class="" action="/Users/logout?_method=DELETE" method="post">
          <button type="submit" name="button">Logout</button>
        </form>
        <%}else{%>
      <li><a href="http://localhost:3000/Users/Login">Login</a>
        <%}%>
           </li>
         </ul>
  <div action="Orders" method="post">
    <h1>orders</h1>
    <table class="center">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Item</th>
        <th>Ready By</th>
        <th>Message</th>
        <th>Status:</th>
      </tr>

      <!-- Loop through plants -->
      <% for(var i = 0; i < Orders.length; i++) {%>
        <tr>
          <!-- Output name from the iterated plant object -->
          <td><%= Orders[i].name %></td>:
          <!-- Output plant from the iterated plant object -->
          <td><a href="mailto: <%= Orders[i].email %>"><%= Orders[i].email %></a></td>
          <td><%= Orders[i].item %></td>
          <td><%= Orders[i].ready_by_date %></td>
          <td><%= Orders[i].message %></td>
          <td>
            <select name="status">
              <option value="New Order">New Order</option>
              <option value="Made Contact">Made Contact</option>
              <option value="In Progress">In Progress</option>
              <option value="Order Complete">Order Complete</option>
            </select>
          </td>
        </tr>
        <% } %>
        </table>
    </div>
</body>

</html>
