<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="/CSS/nav.css" rel="stylesheet">
  <link href="/CSS/product.css" rel="stylesheet">

</head>
<ul>
  <div action"home" method"post" class="navi">
    <li><a href="http://localhost:3000/">Home</a>
    <li><a href="http://localhost:3000/Contact">Contact Us</a>
    <li><a href="http://localhost:3000/Produce">Products</a>
    <li><a href="http://localhost:3000/Blog">Blog</a>
    <li><a href="http://localhost:3000/Request/Place_An_Order">Request</a>
    <li><a href="http://localhost:3000/test">test</a>
    <li>

      <%if(locals.name){%>
      welcome <%=name %>
      <form class="" action="/Users/logout?_method=DELETE" method="post">
        <button type="submit" name="button">Logout</button>
      </form>
      <%}else{%>
    <li><a href="http://localhost:3000/Users/Login">Login</a>
      <%}%>
     </li>
   </ul>
<!--End of Nav Bar -->
<h1><center> Products</center></h1>
<style>
body{
  background-image: url("/images/wood-roses.jpg");}
  </style>

  <table>
    <tr>
      <td>
        <div class="card">

        <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Roses') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/pink.jpeg" alt="Pink Flower" class="image">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p><%=plants[i].Description%></p>
      <%}%>
          <%}%>
  </div>
  </td>
  <td>
    <div class="card">

      <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Purple Flower') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/purple.jpeg" alt="Purple Flower"  class="image">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p><%=plants[i].Description%></p>
      <%}%>
          <%}%>
    </div>
  </td>
  <td>
    <div class="card">

      <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Purple Sunflower') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/psunf.jpeg" alt="SunFlower" class="image">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p><%=plants[i].Description%></p>
      <%}%>
          <%}%>
    </div>
  </td>
  <td>
    <div class="card">

      <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Red Flower') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/red.jpeg" alt="Red Flower" class="image">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p><%=plants[i].Description%></p>
      <%}%>
          <%}%>
    </div>
  </td>
  <td>
    <div class="card">

      <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Mint') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/mintProduct.jpg" alt="Mint" class="image">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p><%=plants[i].Description%></p>
      <%}%>
          <%}%>
    </div>
  </td>
  </tr>
  </table>


  </div>
  </body>

</html>
