<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="/CSS/nav.css" rel="stylesheet">
  <link href="/CSS/product.css" rel="stylesheet">

</head>
<ul>
  <div action"home" method"post" class="navi">
    <li><a href="http://localhost:3000/">Home</a>
    <li><a href="http://localhost:3000/Contact">Contact Us</a>
    <li><a href="http://localhost:3000/Produce">Produce</a>
    <li><a href="http://localhost:3000/Blog">Blog</a>
    <li><a href="http://localhost:3000/Request">Request</a>
    <li><a href="http://localhost:3000/test">test</a>
    <li>
      <%if(locals.name){%>
      welcome <%=name %>
      <form class="" action="/Users/logout?_method=DELETE" method="post">
        <button type="submit" name="button">Logout</button>
      </form>
      <%}else{%>
    <li><a href="http://localhost:3000/Users/Login">Login</a>
      <%}%>
     </li>
   </ul>

<style>
body{
  background-image: url("/images/productbkg.jpg");}
  </style>

  <table>
    <tr>
      <td>
        <div class="card">

        <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Roses') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/pink.jpeg" alt="Pink Flower" class="image">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p>Pink Rose</p>
      <%}%>
          <%}%>
  </div>
  </td>
  <td>
    <div class="card">

      <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Roses') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/purple.jpeg" alt="Purple Flower"  class="image">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p>Purple Flower</p>
      <%}%>
          <%}%>
    </div>
  </td>
  <td>
    <div class="card">

      <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Roses') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/psunf.jpeg" alt="SunFlower" >
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p>Purple Sunflower</p>
      <%}%>
          <%}%>
    </div>
  </td>
  <td>
    <div class="card">

      <% for(var i = 0; i < plants.length; i++) {%>
      <% if(plants[i].Name == 'Roses') {%>
      <h1><%=plants[i].Name%></h1>
      <img src="/images/red.jpeg" alt="Red Flower">
      <p>
        In Stock:
        <%=plants[i].Quantity%>
        <%if(plants[i].Quantity < 5){%>
      <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
      <p>Red Flower</p>
      <%}%>
          <%}%>
    </div>
  </td>
  </tr>
  <tr>
    <td>
      <div class="card">

        <% for(var i = 0; i < plants.length; i++) {%>
        <% if(plants[i].Name == 'Roses') {%>
        <h1><%=plants[i].Name%></h1>
        <img src="/images/pink.jpeg" alt="Pink Flower">
        <p>
          In Stock:
          <%=plants[i].Quantity%>
          <%if(plants[i].Quantity < 5){%>
        <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
        <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <%}%>
          <%}%>
      </div>
    </td>
    <td>
      <div class="card">

        <% for(var i = 0; i < plants.length; i++) {%>
        <% if(plants[i].Name == 'Roses') {%>
        <h1><%=plants[i].Name%></h1>
        <img src="/images/pink.jpeg" alt="Pink Flower" style="width:100%">
        <p>
          In Stock:
          <%=plants[i].Quantity%>
          <%if(plants[i].Quantity < 5){%>
        <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
        <%}%>
        </p>
        <p class="price" >$<%=plants[i].Price%></p>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <%}%>
          <%}%>
      </div>
    </td>
  </tr>
  </table>


  </div>
  </body>

</html>
