<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Products</title>
  <link href="/CSS/Produce.css" type="text/css" rel="stylesheet">
  <h1>
    <center>Market Place</center>
  </h1>
</head>
<!--Background-->

<body background="/images/Background.jpeg" action="/plants" method="post">

  <!--Navigation Bar
   <nav>
     <ul>
       <li><a href ="#"> Home </a></li>
       <li><a href ="#"> Products</a></li>
       <li><a href ="#"> About Us</a></li>
       <li><a href ="#"> Blog</a></li>
       <li><a href ="#"> Sign in</a></li>
     </ul>
   </nav>-->


  <div class="navbar">
    <a class="active" href="#">Home</a>
    <a href="#">Products</a>
    <a href="#">About Us</a>
    <a href="#">Blog</a>
    <a href="#">Contact Us</a>


    <!-- Displays user login across the the page and allows non users to access it as well without
  an error getting thrown in there face. Ask Elijah for more info. -->
    <li>
      <%if(locals.name){%>
      welcome <%=name %>
      <form class="" action="/Users/logout?_method=DELETE" method="post">
        <button type="submit" name="button">Logout</button>
      </form>
      <%}else{%>
    <li><a href="http://localhost:3000/Users/Login">Login</a>
      <%}%>
  </li>
  <!-------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------->

</div>

<!--table style-->
<table width="500" border="0" cellpadding="5">

<!--table with images-->
<tr>

 <td align="center" valign="center">
 <img src="/images/pink.jpeg" alt="description here" />
 <br />
 Pink Flower ---> $$$
 </td>

 <td align="center" valign="center">
 <img src="/images/purple.jpeg" alt="description here" />
 <br />
 Purple Flower ---> $$$
 </td>
</tr>

<tr>
 <td align="center" valign="center">
 <img src="/images/red.jpeg"  alt="description here" />
 <br />
 Red Flower ---> $$$
 </td>

<!--------------------------------------------------------------------------------------------------------------------------->
<!-- I know that the data held in this cell is not a rose. However, for the sake of the example, we are using ejs
to search through the datbase for a document with the name Roses in it. If the querry returns true, then the image
will be displayed if there are roses available, if there are no roses available, the image will be hidden until available
again -->

<!-- Ask Elijah if you have any questions or concerns. If you are curious about editing this out let him know -->
<!---------------------------------------------------------------------------------------------------------------------------->
<% for(var i = 0; i < plants.length; i++) {%>
<% if(plants[i].Name == 'Roses') {%>
 <td align="center" valign="center">
 <img src="/images/psunf.jpeg"  alt="description here" />
 <br />
      <p><%=plants[i].Name%>
      In Stock:
      <%=plants[i].Quantity%>
      <%if(plants[i].Quantity < 5){%>
        <p style="color:red">Only <%=plants[i].Quantity%> Left!!</p>
      <%}%>
    </p><br>
      <p>$<%=plants[i].Price%></p>
      </td>
      <%}%>
<%}%>
      </tr>
      </table>


</body>

</html>
